@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./text-mask.css");

@layer base {
  input[type="number"],
  input[type="text"],
  input[type="password"],
  select {
    @apply rounded py-2;
    max-width: 100%;
  }

  h1 {
    @apply text-3xl;
  }
}

@layer components {
  .wrapper {
    @apply w-full sm:max-w-[760px] px-1 md:max-w-[1024px] mx-auto;
  }
  .bb {
    @apply border-b;
  }
  .link {
    @apply text-primary underline font-light;
  }
  .bt {
    @apply border-t;
  }
  .btn {
    @apply px-6 py-3 rounded;
  }
  .error-field {
    @apply text-sm text-red-600;
  }
  .form-cols-row {
    @apply grid grid-cols-1 sm:grid-cols-2 gap-2;
  }
}

:root {
  --primary-color: blue;
  --paper-color: #ffffff;
  --paper-secondary-color: #e1e1e1;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --border-color: rgba(0, 0, 0, 0.3);
}

:root {
  --loader-color: var(--primary-color);
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--paper-color);
}

label {
  display: block;
}

@media (prefers-color-scheme: dark) {
  :root {
    --paper-color: #000000;
    --paper-secondary-color: #141414;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --border-color: rgba(255, 255, 255, 0.3);
  }
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    display: none;
  }

  :root {
    scrollbar-width: none;
  }
}
